{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "sourceMaps": true,
    "env": {
        "test": {
            "plugins": [
                "dynamic-import-node"
            ]
        }
    }
}