@import '../../styles/resources.scss';

.button {
  outline: none;
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
}

.button-regular {
  padding: 5px 8px;
  color: $color-dark;
  background: $color-medium;
  text-transform: capitalize;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 500;

  &:hover {
    color: $color-medium;
    background: $color-dark;
    border: 1px solid $color-medium;
  }
}

.button-icon {
  padding: 3px;
  border-radius: 100%;
  background: transparent;
  color: $color-medium;
  font-size: 15px;
  width: 25px;
  height: 25px;

  &:hover {
    background: $color-medium;
    color: $color-dark;
    border: 1px solid $color-black;
  }
}
