/** dark **/
$color-dark: #222428;
$color-dark-contrast: #ffffff;
$color-dark-shade: #1e2023;
$color-dark-tint: #383a3e;

/** medium **/
$color-medium: #989aa2;
$color-medium-contrast: #ffffff;
$color-medium-shade: #86888f;
$color-medium-tint: #a2a4ab;

/** light **/
$color-light: #f4f5f8;
$color-light-contrast: #000000;
$color-light-shade: #d7d8da;
$color-light-tint: #f5f6f9;

$color-black: #000000;
$color-white: #ffffff;

  /** success **/
$color-success: #10dc60;
$color-success-contrast: #ffffff;
$color-success-shade: #0ec254;
$color-success-tint: #28e070;

  /** warning **/
$color-warning: #ffce00;
$color-warning-contrast: #ffffff;
$color-warning-shade: #e0b500;
$color-warning-tint: #ffd31a;

  /** danger **/
$color-danger: #f04141;
$color-danger-contrast: #ffffff;
$color-danger-shade: #d33939;
$color-danger-tint: #f25454;
