/** dark **/
// $color-dark: #222428;
$color-dark-contrast: #ffffff;
$color-dark-shade: #1e2023;
$color-dark-tint: #383a3e;

/** medium **/
$color-medium: #989aa2;
$color-medium-contrast: #ffffff;
$color-medium-shade: #86888f;
$color-medium-tint: #a2a4ab;

/** light **/
$color-light: #f4f5f8;
$color-light-contrast: #000000;
$color-light-shade: #d7d8da;
$color-light-tint: #f5f6f9;

$color-black: #000000;
$color-white: #ffffff;

  /** success **/
$color-success: #10dc60;
$color-success-contrast: #ffffff;
$color-success-shade: #0ec254;
$color-success-tint: #28e070;

  /** warning **/
$color-warning: #ffce00;
$color-warning-contrast: #ffffff;
$color-warning-shade: #e0b500;
$color-warning-tint: #ffd31a;

  /** danger **/
$color-danger: #f04141;
$color-danger-contrast: #ffffff;
$color-danger-shade: #d33939;
$color-danger-tint: #f25454;

$color-teal: #00897b;
$color-teal-dark: #00564d;
$color-dark: #282828;
$color-dark-shade: #363636;
$color-gray: #969696;

// Dark theme
$color-primary: #BB86FC;
$color-on-primary: #000000;

$color-primary-variant: #3700B3;

$color-secondary: #03DAC6;
$color-on-secondary: #000000;

$color-error: #CF6679;
$color-on-error: #000000;

$color-background: #121212;
$color-on-background: #ffffff;

$color-surface: #121212;
$color-on-surface: #ffffff;

$color-1dp: #1e1e1e;
$color-2dp: #222222;
$color-3dp: #242424;
$color-4dp: #272727;
$color-6dp: #2c2c2c;
$color-8dp: #2d2d2d;
$color-12dp: #333333;
$color-16dp: #353535;
$color-24dp: #383838;