@import '../../styles/resources.scss';

.ccard {
  z-index: 2;
  position: relative;
  text-align: center;
  @include BoxShadow(1);
  width: 400px;
  border-radius: 3px;
  height: fit-content;

  &__img {

    &>img {
      border-radius: 3px 3px 0 0;
      width: 400px;
      max-height: 600px;
    }
  }

  &__header {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 10px 0 10px;
  }

  &__timestamp {
    
  }

  &__article {
    padding: 5px 10px 10px 10px;
    text-align: left;
    font-size: 13px;
    white-space: pre-wrap;
    overflow: hidden;
  }

  &__content {
    padding: 5px 20px 10px 20px;
    text-align: left;
    font-size: 13px;
    white-space: pre-wrap;
    overflow: hidden;
  }

  &__footer {
    text-align: right;
    border-top: 1px solid $color-dark-tint;
    padding: 10px 20px;
    margin: 0 10px;
  }
}
