@import '../../styles/resources.scss';

.navbar {
  z-index: 3;
  @include BoxShadow(2);
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  width: 100%;
  position: fixed;
  height: 40px;

  &__brand {
    font-size: 25px;
    font-weight: 600;
    margin-left: 20px;

    &--link {
      text-decoration: none;
      color: inherit;
      vertical-align: -webkit-baseline-middle;
      text-transform: uppercase;
    }
  }

  &__actions {
    margin-right: 50px;

    &--link {
      color: inherit;
      padding: 10px;
      text-decoration: none;
      vertical-align: -webkit-baseline-middle;
      font-size: 16px;
    }

    &--button {
      background: none;
      border: none;
      color: inherit;
      padding: 10px;
      vertical-align: -webkit-baseline-middle;
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      outline: none;
      cursor: pointer;
    }
  }
}
